*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

a{
    text-decoration: none;
}

ul,li{
    list-style:none;
}

nav{
    width: 1440px;
    margin: 0 auto;
    
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
    

}


.logo-part{
    width: 10%;

}

.menu-part{
    width: 60%;
    display: flex;
    column-gap: 48px;
    list-style: none;

    

}

.button-part{
    width: 20%;

    
    

}




nav li ul a{
    text-decoration: none;
}


nav .button-part a{

    padding: 14px 28px;
    border-radius: 10px;
    background-color: steelblue;
}

nav .button-part a:hover{
    color: darkblue;
}


.banner-image{

   background-image: url("/picture/bg.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 1440px;
   height: 90vh;
   position: relative;

}

.left img{

    width: 20%;
    position: absolute;
    left: 0;
    top: 20%;
     
}

.right img{
    width: 20%;
    position: absolute;
    right: 0;
    top: 20%;

}

.middle{
    width: 20%;
    position: absolute;
    top: 15%;
    left: 30%;
}


.text{
    position: absolute;
    top: 20%;
    left: 40%;
}

.text h1{
    font-size: 30px;    
}

.text p{
    font-size: 20px;
}

.text button{
    margin-top: 20px;
    background: steelblue;
    padding: 14px 28px;
    border-radius: 10px;
}

.bestservice .container .flex{
    display: flex;
    justify-content: space-evenly;
    
    
}


.bestservice .container .service-text h2{
    font-size: 30px;
    text-align: center;
    

}      
.bestservice .container .service-image img{
    width: 100px;
    height: 100px;
    margin-top: 30px;


}
.bestservice .container .service-image h3 {
    font-size: 20px;
    font-family: "poppins", sans-serif;
    font-weight: 600;

}



.bestservice .container .service-image a{
    margin-top: 20px;
}

.app-image{
    background-image: url("/images/launchbanner1.png");
    width: 400px;
    height: 400px;;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 40px;
    margin-left: 70px;
    position: relative;
    
    
    
}


.app-imagetwo{
    background-image: url("/images/launchbannertwo.jpg");
    width: 200px;
    height: 450px;;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    position: absolute;
    left: 350px;
    z-index: 10;

}



.right-left{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}


